@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminTableLayout.cshtml";

}
@section Head {
    <style>
        .layui-table-tool {
            background-color: white !important; /* 改成你想要的背景色 */
            padding: 10px 15px;
            border-bottom: 1px solid #e6e6e6;
        }

        .custom-blue-link {
            color: #007bff !important; /* 强制蓝色，防止被其他样式覆盖 */
            text-decoration: underline !important; /* 强制下划线 */
            cursor: pointer;
        }
    </style>
}
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="search-form" id="search-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">文章状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="-1" selected>全部</option>
                            <option value="0">草稿</option>
                            <option value="1">已发布</option>
                            <option value="2">已归档</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否为推荐</label>
                    <div class="layui-input-inline">
                        <select name="isFeatured">
                            <option value="-1" selected>全部</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否顶置</label>
                    <div class="layui-input-inline">
                        <select name="isTop">
                            <option value="-1" selected>全部</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">发布时间</label>
                    <!-- 保持与其他输入框一致的宽度，例如 190px -->
                    <div class="layui-input-inline" style="width: 190px;">
                        <input readonly name="publishedBeginAt" id="publishedBeginAt" class="layui-input" placeholder="开始时间" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">至</div>
                    <div class="layui-input-inline" style="width: 190px;">
                        <input readonly name="publishedEndAt" id="publishedEndAt" class="layui-input" placeholder="结束时间" />
                    </div>
                </div>
                <div class="layui-inline">
                  <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="submit-form">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                  </button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <table class="layui-row" id="ID-table-demo-data" lay-filter="ID-table-demo-data"></table>
    </div>
</div>

<script type="text/html" id="viewDetailTpl">
    <a href="#" key="{{= d.blogPostId}}" lay-event="View" class="custom-blue-link">{{= d.title}}</a>
</script>

<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-group">
      <button type="button" class="layui-btn" lay-event="Add">
        新增
      </button>
    </div>
</script>

<script type="text/html" id="statusTpl">
  {{# if(d.status == 0 || d.status == '0') { }}
  <span class="layui-badge layui-bg-gray">草稿</span>
  {{# } else if(d.status == 1 || d.status == '1') { }}
  <span class="layui-badge layui-bg-green">已发布</span>
  {{# } else if(d.status == 2 || d.status == '2') { }}
  <span class="layui-badge layui-bg-black">已归档</span>
  {{# } else { }}
  {{= d.status}}
  {{# } }}
</script>
<script type="text/html" id="isFeaturedTpl">
    {{#  if(d.isFeatured == 0) {  }}
    <p>否</p>
    {{# } else {     }}
    <p>是</p>
    {{#  }   }}
</script>
<script type="text/html" id="isTopTpl">
    {{#  if(d.isTop == 0) {  }}
    <p>否</p>
    {{# } else {     }}
    <p>是</p>
    {{#  }   }}
</script>
@section Scripts {
    <script src="~/js/admin/post/index.js"></script>
}