-- MySQL 8 schema for blog system (主键为应用生成的 BIGINT，不使用 AUTO_INCREMENT，且无外键约束)
-- 所有表均以 blog_ 前缀命名，主键列命名规则：表名 + "_id"
-- 每张表包含审计字段：`create_at`, `create_by`, `update_at`, `update_by`
-- 说明：主键为 BIGINT NOT NULL，不自增。应用需在插入前生成主键（例如雪花 ID、GUID 转 long 或其他分布式 ID 策略）。
-- 引擎：InnoDB，字符集：utf8mb4

CREATE DATABASE IF NOT EXISTS `blog` CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci;
USE `blog`;

-- ========== user ==========
CREATE TABLE IF NOT EXISTS `blog_user` (
  `blog_user_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `username` VARCHAR(100) NOT NULL COMMENT '登录用户名，唯一',
  `email` VARCHAR(200) NOT NULL COMMENT '用户邮箱，唯一',
  `password_hash` VARCHAR(255) NOT NULL COMMENT '密码哈希（不可逆）',
  `display_name` VARCHAR(100) DEFAULT NULL COMMENT '显示名称 / 昵称',
  `avatar_url` VARCHAR(255) DEFAULT NULL COMMENT '头像 URL',
  `status` TINYINT NOT NULL DEFAULT 1 COMMENT '账户状态：1=激活，0=禁用',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间（由数据库自动更新）',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  `last_login_at` DATETIME(6) DEFAULT NULL COMMENT '最后登录时间',
  PRIMARY KEY (`blog_user_id`),
  UNIQUE KEY `ux_blog_user_username` (`username`),
  UNIQUE KEY `ux_blog_user_email` (`email`),
  KEY `ix_blog_user_create_by` (`create_by`),
  KEY `ix_blog_user_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== role ==========
CREATE TABLE IF NOT EXISTS `blog_role` (
  `blog_role_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `name` VARCHAR(100) NOT NULL COMMENT '角色名称，唯一',
  `description` VARCHAR(255) DEFAULT NULL COMMENT '角色描述',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_role_id`),
  UNIQUE KEY `ux_blog_role_name` (`name`),
  KEY `ix_blog_role_create_by` (`create_by`),
  KEY `ix_blog_role_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== user_role (N:N) ==========
CREATE TABLE IF NOT EXISTS `blog_user_role` (
  `blog_user_role_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `user_id` BIGINT UNSIGNED NOT NULL COMMENT '用户 id（引用 blog_user）',
  `role_id` BIGINT UNSIGNED NOT NULL COMMENT '角色 id（引用 blog_role）',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_user_role_id`),
  UNIQUE KEY `ux_blog_user_role_user_role` (`user_id`, `role_id`),
  KEY `ix_blog_user_role_user` (`user_id`),
  KEY `ix_blog_user_role_role` (`role_id`),
  KEY `ix_blog_user_role_create_by` (`create_by`),
  KEY `ix_blog_user_role_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== permission ==========
CREATE TABLE IF NOT EXISTS `blog_permission` (
  `blog_permission_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `name` VARCHAR(150) NOT NULL COMMENT '权限名称',
  `code` VARCHAR(150) NOT NULL COMMENT '权限代码（例如 post.create）',
  `description` VARCHAR(255) DEFAULT NULL COMMENT '权限描述',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_permission_id`),
  UNIQUE KEY `ux_blog_permission_code` (`code`),
  KEY `ix_blog_permission_create_by` (`create_by`),
  KEY `ix_blog_permission_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== role_permission (N:N) ==========
CREATE TABLE IF NOT EXISTS `blog_role_permission` (
  `blog_role_permission_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `role_id` BIGINT UNSIGNED NOT NULL COMMENT '角色 id（引用 blog_role）',
  `permission_id` BIGINT UNSIGNED NOT NULL COMMENT '权限 id（引用 blog_permission）',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_role_permission_id`),
  UNIQUE KEY `ux_blog_role_permission_role_perm` (`role_id`, `permission_id`),
  KEY `ix_blog_role_permission_role` (`role_id`),
  KEY `ix_blog_role_permission_permission` (`permission_id`),
  KEY `ix_blog_role_permission_create_by` (`create_by`),
  KEY `ix_blog_role_permission_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== category ==========
CREATE TABLE IF NOT EXISTS `blog_category` (
  `blog_category_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `name` VARCHAR(150) NOT NULL COMMENT '分类名称',
  `slug` VARCHAR(150) DEFAULT NULL COMMENT 'URL 友好标识',
  `parent_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '父级分类 id',
  `sort_order` INT DEFAULT 0 COMMENT '排序权重（越大越靠前）',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_category_id`),
  KEY `ix_blog_category_parent` (`parent_id`),
  UNIQUE KEY `ux_blog_category_slug` (`slug`),
  KEY `ix_blog_category_create_by` (`create_by`),
  KEY `ix_blog_category_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== tag ==========
CREATE TABLE IF NOT EXISTS `blog_tag` (
  `blog_tag_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `name` VARCHAR(100) NOT NULL COMMENT '标签名称',
  `slug` VARCHAR(150) DEFAULT NULL COMMENT 'URL 友好标识',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_tag_id`),
  UNIQUE KEY `ux_blog_tag_slug` (`slug`),
  KEY `ix_blog_tag_create_by` (`create_by`),
  KEY `ix_blog_tag_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== post ==========
CREATE TABLE IF NOT EXISTS `blog_post` (
  `blog_post_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `author_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '作者 id（引用 blog_user）',
  `title` VARCHAR(255) NOT NULL COMMENT '文章标题',
  `slug` VARCHAR(255) DEFAULT NULL COMMENT '文章 URL 友好标识，唯一',
  `summary` TEXT COMMENT '文章摘要',
  `content` LONGTEXT COMMENT '文章内容（Markdown 或 HTML）',
  `status` TINYINT NOT NULL DEFAULT 0 COMMENT '文章状态：0=草稿，1=已发布，2=已归档',
  `is_featured` TINYINT NOT NULL DEFAULT 0 COMMENT '是否推荐/精选',
  `is_top` TINYINT NOT NULL DEFAULT 0 COMMENT '是否置顶',
  `category_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '分类 id（引用 blog_category）',
  `views_count` BIGINT UNSIGNED NOT NULL DEFAULT 0 COMMENT '浏览次数',
  `comments_count` INT UNSIGNED NOT NULL DEFAULT 0 COMMENT '评论数量',
  `likes_count` INT UNSIGNED NOT NULL DEFAULT 0 COMMENT '点赞数量',
  `published_at` DATETIME(6) DEFAULT NULL COMMENT '发布时间',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_post_id`),
  UNIQUE KEY `ux_blog_post_slug` (`slug`),
  KEY `ix_blog_post_author` (`author_id`),
  KEY `ix_blog_post_category` (`category_id`),
  KEY `ix_blog_post_published_at` (`published_at`),
  KEY `ix_blog_post_create_by` (`create_by`),
  KEY `ix_blog_post_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== post_tag (N:N) ==========
CREATE TABLE IF NOT EXISTS `blog_post_tag` (
  `blog_post_tag_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `post_id` BIGINT UNSIGNED NOT NULL COMMENT '文章 id（引用 blog_post）',
  `tag_id` BIGINT UNSIGNED NOT NULL COMMENT '标签 id（引用 blog_tag）',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_post_tag_id`),
  UNIQUE KEY `ux_blog_post_tag_post_tag` (`post_id`, `tag_id`),
  KEY `ix_blog_post_tag_post` (`post_id`),
  KEY `ix_blog_post_tag_tag` (`tag_id`),
  KEY `ix_blog_post_tag_create_by` (`create_by`),
  KEY `ix_blog_post_tag_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== comment ==========
CREATE TABLE IF NOT EXISTS `blog_comment` (
  `blog_comment_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `post_id` BIGINT UNSIGNED NOT NULL COMMENT '文章 id（引用 blog_post）',
  `user_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '评论者用户 id（游客可为空）',
  `parent_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '父评论 id（用于回复树）',
  `content` TEXT NOT NULL COMMENT '评论内容',
  `is_approved` TINYINT NOT NULL DEFAULT 1 COMMENT '是否审核通过：1=通过，0=待审/拒绝',
  `likes_count` INT UNSIGNED NOT NULL DEFAULT 0 COMMENT '评论点赞数',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_comment_id`),
  KEY `ix_blog_comment_post` (`post_id`),
  KEY `ix_blog_comment_parent` (`parent_id`),
  KEY `ix_blog_comment_create_by` (`create_by`),
  KEY `ix_blog_comment_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== media / attachments ==========
CREATE TABLE IF NOT EXISTS `blog_media` (
  `blog_media_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `file_name` VARCHAR(255) NOT NULL COMMENT '文件原始名',
  `storage_path` VARCHAR(500) DEFAULT NULL COMMENT '存储路径（相对或绝对）',
  `url` VARCHAR(1000) DEFAULT NULL COMMENT '可访问 URL（CDN 或直连）',
  `mime_type` VARCHAR(100) DEFAULT NULL COMMENT 'MIME 类型',
  `size` BIGINT UNSIGNED DEFAULT 0 COMMENT '文件大小（字节）',
  `width` INT DEFAULT NULL COMMENT '图片宽度（若适用）',
  `height` INT DEFAULT NULL COMMENT '图片高度（若适用）',
  `uploader_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '上传者用户 id',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_media_id`),
  KEY `ix_blog_media_uploader` (`uploader_id`),
  KEY `ix_blog_media_create_by` (`create_by`),
  KEY `ix_blog_media_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== page ==========
CREATE TABLE IF NOT EXISTS `blog_page` (
  `blog_page_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `author_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '作者 id（引用 blog_user）',
  `title` VARCHAR(255) NOT NULL COMMENT '页面标题',
  `slug` VARCHAR(255) DEFAULT NULL COMMENT '页面 URL 友好标识，唯一',
  `content` LONGTEXT COMMENT '页面内容（Markdown 或 HTML）',
  `is_published` TINYINT NOT NULL DEFAULT 0 COMMENT '是否已发布：1=是，0=否',
  `published_at` DATETIME(6) DEFAULT NULL COMMENT '发布时间',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_page_id`),
  UNIQUE KEY `ux_blog_page_slug` (`slug`),
  KEY `ix_blog_page_author` (`author_id`),
  KEY `ix_blog_page_create_by` (`create_by`),
  KEY `ix_blog_page_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== favorite / bookmark ==========
CREATE TABLE IF NOT EXISTS `blog_favorite` (
  `blog_favorite_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `user_id` BIGINT UNSIGNED NOT NULL COMMENT '收藏者用户 id',
  `post_id` BIGINT UNSIGNED NOT NULL COMMENT '被收藏文章 id',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_favorite_id`),
  UNIQUE KEY `ux_blog_favorite_user_post` (`user_id`, `post_id`),
  KEY `ix_blog_favorite_user` (`user_id`),
  KEY `ix_blog_favorite_post` (`post_id`),
  KEY `ix_blog_favorite_create_by` (`create_by`),
  KEY `ix_blog_favorite_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== like (通用点赞表) ==========
CREATE TABLE IF NOT EXISTS `blog_like` (
  `blog_like_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `user_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '点赞用户 id（可为空用于匿名）',
  `entity_type` VARCHAR(100) NOT NULL COMMENT '被点赞实体类型（例如 post/comment/page）',
  `entity_id` BIGINT UNSIGNED NOT NULL COMMENT '被点赞实体 id',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_like_id`),
  UNIQUE KEY `ux_blog_like_user_entity` (`user_id`, `entity_type`, `entity_id`),
  KEY `ix_blog_like_entity` (`entity_type`, `entity_id`),
  KEY `ix_blog_like_create_by` (`create_by`),
  KEY `ix_blog_like_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== setting ==========
CREATE TABLE IF NOT EXISTS `blog_setting` (
  `blog_setting_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `key` VARCHAR(150) NOT NULL COMMENT '配置项键名（唯一）',
  `value` TEXT COMMENT '配置项值（JSON 或字符串）',
  `type` VARCHAR(50) DEFAULT NULL COMMENT '配置类型/分类',
  `description` VARCHAR(255) DEFAULT NULL COMMENT '配置说明',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_setting_id`),
  UNIQUE KEY `ux_blog_setting_key` (`key`),
  KEY `ix_blog_setting_create_by` (`create_by`),
  KEY `ix_blog_setting_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== audit_log ==========
CREATE TABLE IF NOT EXISTS `blog_audit_log` (
  `blog_audit_log_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `user_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '触发操作的用户 id（可空）',
  `action` VARCHAR(150) NOT NULL COMMENT '操作名称或类型',
  `entity` VARCHAR(150) DEFAULT NULL COMMENT '操作涉及的实体类型',
  `entity_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '操作涉及的实体 id',
  `data` JSON DEFAULT NULL COMMENT '操作相关的数据快照或上下文（JSON）',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_audit_log_id`),
  KEY `ix_blog_audit_log_user` (`user_id`),
  KEY `ix_blog_audit_log_create_by` (`create_by`),
  KEY `ix_blog_audit_log_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== visit / page_view ==========
CREATE TABLE IF NOT EXISTS `blog_visit` (
  `blog_visit_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `post_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '访问对应的文章 id（可空，记录其他 path 时为空）',
  `path` VARCHAR(255) DEFAULT NULL COMMENT '访问路径或页面标识',
  `ip` VARCHAR(45) DEFAULT NULL COMMENT '访问者 IP',
  `user_agent` VARCHAR(512) DEFAULT NULL COMMENT 'User-Agent 信息',
  `referrer` VARCHAR(512) DEFAULT NULL COMMENT '来源页面 URL',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_visit_id`),
  KEY `ix_blog_visit_post` (`post_id`),
  KEY `ix_blog_visit_create_by` (`create_by`),
  KEY `ix_blog_visit_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== scheduled_task ==========
CREATE TABLE IF NOT EXISTS `blog_scheduled_task` (
  `blog_scheduled_task_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `name` VARCHAR(200) NOT NULL COMMENT '任务名称',
  `cron_expression` VARCHAR(200) DEFAULT NULL COMMENT 'Cron 表达式（调度）',
  `payload` JSON DEFAULT NULL COMMENT '任务负载（JSON）',
  `next_run_at` DATETIME(6) DEFAULT NULL COMMENT '下一次执行时间',
  `last_run_at` DATETIME(6) DEFAULT NULL COMMENT '最后一次执行时间',
  `enabled` TINYINT NOT NULL DEFAULT 1 COMMENT '是否启用：1=启用，0=禁用',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_scheduled_task_id`),
  KEY `ix_blog_scheduled_task_create_by` (`create_by`),
  KEY `ix_blog_scheduled_task_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== subscription ==========
CREATE TABLE IF NOT EXISTS `blog_subscription` (
  `blog_subscription_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `email` VARCHAR(200) NOT NULL COMMENT '订阅邮箱',
  `is_confirmed` TINYINT NOT NULL DEFAULT 0 COMMENT '是否已确认订阅：1=是，0=否',
  `confirm_token` VARCHAR(200) DEFAULT NULL COMMENT '确认令牌（用于验证）',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_subscription_id`),
  UNIQUE KEY `ux_blog_subscription_email` (`email`),
  KEY `ix_blog_subscription_create_by` (`create_by`),
  KEY `ix_blog_subscription_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ========== oauth_account ==========
CREATE TABLE IF NOT EXISTS `blog_oauth_account` (
  `blog_oauth_account_id` BIGINT UNSIGNED NOT NULL COMMENT '主键（应用生成的 long）',
  `user_id` BIGINT UNSIGNED DEFAULT NULL COMMENT '关联的用户 id（可空）',
  `provider` VARCHAR(100) NOT NULL COMMENT '第三方提供商名称（如 github）',
  `provider_user_id` VARCHAR(200) NOT NULL COMMENT '第三方用户唯一 id',
  `access_token` TEXT COMMENT '访问令牌（可能为长文本）',
  `refresh_token` TEXT COMMENT '刷新令牌',
  `expires_at` DATETIME(6) DEFAULT NULL COMMENT '令牌到期时间',
  `create_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '记录创建时间',
  `create_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录创建者（用户 id）',
  `update_at` DATETIME(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '记录更新时间',
  `update_by` BIGINT UNSIGNED DEFAULT NULL COMMENT '记录更新者（用户 id）',
  PRIMARY KEY (`blog_oauth_account_id`),
  UNIQUE KEY `ux_blog_oauth_account_provider_user` (`provider`, `provider_user_id`),
  KEY `ix_blog_oauth_account_user` (`user_id`),
  KEY `ix_blog_oauth_account_create_by` (`create_by`),
  KEY `ix_blog_oauth_account_update_by` (`update_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;